@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-inter);
  background-color: #111;
  color: #fff;
  overflow-x: hidden;
}

::placeholder {
  color: #888;
}

/* Glass effect for header or cards */
.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
